<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <section>
        <img src= "<%= asset_path "main.jpg"%>">
      </section>
      <section>
        <h1 class="nicomoji">ようこそ！インスタントアルバム へ</h1>
        <p>本サイトはDIVE into CODEのカリキュラムでInstagramクローンサイトとして作成したものです。制作に際しては、Webフォントやフリー素材を利用しています。</p>
        <p>また投稿された写真にはCSSgramを利用してフィルタ加工できるようにしています。</p>
        <p>なお、本サイトはHerokuにて運用していますが、Herokuの仕様により画像は一時保存しかされませんのでご注意ください。</p>
      </section>
    </div>
    <div class="col-md-6 col-sm-12">
      <section>
      <h1 class="leckerli">InstantAlbum</h1>
      </section>
    </div>
  </div>
</div>
